examples/generate posters at runtime.json
[
    {
        "id": "7303a62087f1e1e9",
        "type": "inject",
        "z": "4aad778b57d4f47b",
        "name": "Posters",
        "props": [
            {
                "p": "ui_update",
                "v": "{\"readyPoster\":\"show\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1630,
        "y": 2460,
        "wires": [
            [
                "76cd744d17d83461"
            ]
        ]
    },
    {
        "id": "76cd744d17d83461",
        "type": "function",
        "z": "4aad778b57d4f47b",
        "name": "Create",
        "func": "let readySvgString = \n`<svg xmlns=\"http://www.w3.org/2000/svg\" shape-rendering=\"geometricPrecision\" text-rendering=\"geometricPrecision\" viewBox=\"0 0 8000 6000\">\n   <text fill=\"#0f0\" stroke-width=\"0\" dx=\"0\" dy=\"0\" font-family=\"&quot;e2cpuwzxbWl1:::Roboto&quot;\" font-size=\"600\" font-weight=\"700\" transform=\"translate( 1011.24 3204.88)\">\n      <tspan y=\"0\" stroke-width=\"0\" font-weight=\"700\"><![CDATA[Custom ready text]]></tspan>\n    </text>\n </svg>`\n\nlet errorSvgString =\n`<svg xmlns=\"http://www.w3.org/2000/svg\" shape-rendering=\"geometricPrecision\" text-rendering=\"geometricPrecision\" viewBox=\"0 0 8000 6000\">\n   <text fill=\"red\" stroke-width=\"0\" dx=\"0\" dy=\"0\" font-family=\"&quot;en69waIKg7C1:::Roboto&quot;\" font-size=\"600\" font-weight=\"700\" transform=\"translate( 1183.96 3204.88)\">\n      <tspan y=\"0\" stroke-width=\"0\" font-weight=\"700\"><![CDATA[Video Playback Error]]></tspan>\n   </text>\n</svg>`\n\nlet readySvgBase64 = Buffer.from(readySvgString, 'utf-8').toString('base64')\nlet errorSvgBase64 = Buffer.from(errorSvgString, 'utf-8').toString('base64')\n\nmsg.ui_update = {\n   readyPoster: `data:image/svg+xml;base64,` + readySvgBase64,\n   errorPoster: `data:image/svg+xml;base64,` + errorSvgBase64,\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 2460,
        "wires": [
            [
                "73c2ec800a1c55f6"
            ]
        ]
    },
    {
        "id": "73c2ec800a1c55f6",
        "type": "ui-video",
        "z": "4aad778b57d4f47b",
        "name": "",
        "group": "1e2acdd1dfa22bf9",
        "width": 0,
        "height": 0,
        "order": 6,
        "url": "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
        "autoplay": "off",
        "controls": "show",
        "sound": "off",
        "unloadHiddenVideo": "on",
        "intersectionThreshold": "20",
        "readyPoster": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB2aWV3Qm94PSIwIDAgODAwMCA2MDAwIj48dGV4dCBmaWxsPSIjMGYwIiBzdHJva2Utd2lkdGg9IjAiIGR4PSIwIiBkeT0iMCIgZm9udC1mYW1pbHk9IiZxdW90O2UyY3B1d3p4YldsMTo6OlJvYm90byZxdW90OyIgZm9udC1zaXplPSI2MDAiIGZvbnQtd2VpZ2h0PSI3MDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKCAxMDExLjI0IDMyMDQuODgpIj48dHNwYW4geT0iMCIgc3Ryb2tlLXdpZHRoPSIwIiBmb250LXdlaWdodD0iNzAwIj48IVtDREFUQVsKVmlkZW8gUGxheWJhY2sgUmVhZHkKXV0+PC90c3Bhbj48L3RleHQ+PC9zdmc+Cg==",
        "errorPoster": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB2aWV3Qm94PSIwIDAgODAwMCA2MDAwIj48dGV4dCBmaWxsPSJyZWQiIHN0cm9rZS13aWR0aD0iMCIgZHg9IjAiIGR5PSIwIiBmb250LWZhbWlseT0iJnF1b3Q7ZW42OXdhSUtnN0MxOjo6Um9ib3RvJnF1b3Q7IiBmb250LXNpemU9IjYwMCIgZm9udC13ZWlnaHQ9IjcwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoIDExODMuOTYgMzIwNC44OCkiPjx0c3BhbiB5PSIwIiBzdHJva2Utd2lkdGg9IjAiIGZvbnQtd2VpZ2h0PSI3MDAiPjwhW0NEQVRBWwpWaWRlbyBQbGF5YmFjayBFcnJvcgpdXT48L3RzcGFuPjwvdGV4dD48L3N2Zz4K",
        "logType": "msg",
        "hlsLibrary": "native",
        "resizing": "none",
        "hlsConfig": "{\r\n    \"liveDurationInfinity\": true,\r\n    \"liveBackBufferLength\": 5,\r\n    \"maxBufferLength\": 10,\r\n    \"manifestLoadingTimeOut\": 1000,\r\n    \"manifestLoadingMaxRetry\": 10,\r\n    \"manifestLoadingRetryDelay\": 500\r\n}",
        "x": 1930,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "1e2acdd1dfa22bf9",
        "type": "ui-group",
        "name": "Experiments",
        "page": "e06eacf47a88bb87",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e06eacf47a88bb87",
        "type": "ui-page",
        "name": "Alarm",
        "ui": "be29745a6e568f30",
        "path": "/page9",
        "icon": "lock",
        "layout": "grid",
        "theme": "a965ccfef139317a",
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "be29745a6e568f30",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-chart",
            "ui-text-input",
            "ui-dropdown"
        ],
        "showPathInSidebar": false,
        "titleBarStyle": "default"
    },
    {
        "id": "a965ccfef139317a",
        "type": "ui-theme",
        "name": "Default",
        "colors": {
            "surface": "#404040",
            "primary": "#109fbc",
            "bgPage": "#e8e8e8",
            "groupBg": "#d6d6d6",
            "groupOutline": "#6fbc10"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
