examples/show rtsp stream.json
[
    {
        "id": "d8a81ec88aee0efa",
        "type": "inject",
        "z": "4aad778b57d4f47b",
        "name": "start rtsp stream",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "start",
        "x": 260,
        "y": 3960,
        "wires": [
            [
                "0a6137e13919f65a"
            ]
        ]
    },
    {
        "id": "19d9c96651d50853",
        "type": "inject",
        "z": "4aad778b57d4f47b",
        "name": "stop rtsp stream",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "x": 260,
        "y": 4020,
        "wires": [
            [
                "0a6137e13919f65a"
            ]
        ]
    },
    {
        "id": "0a6137e13919f65a",
        "type": "rtsp-client",
        "z": "4aad778b57d4f47b",
        "name": "",
        "ffmpegPath": "/usr/bin/ffmpeg",
        "rtspUrl": "rtsp://<paste_here_your_rtsp_stream_url>",
        "statisticsInterval": "",
        "restartPeriod": "60",
        "autoStart": "disable",
        "videoCodec": "copy",
        "videoFrameRate": "",
        "videoWidth": "",
        "videoHeight": "",
        "videoQuality": "",
        "minFragDuration": "",
        "audioCodec": "copy",
        "audioSampleRate": "",
        "audioBitRate": "",
        "transportProtocol": "udp",
        "imageSource": "none",
        "imageFrameRate": "",
        "imageWidth": "",
        "imageHeight": "",
        "socketTimeout": "",
        "maximumDelay": "",
        "socketBufferSize": "",
        "reorderQueueSize": "",
        "traceLog": "disable",
        "logLevel": "trace",
        "x": 450,
        "y": 3980,
        "wires": [
            [
                "a4b889c8cc5855c1"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "a4b889c8cc5855c1",
        "type": "mp4frag",
        "z": "4aad778b57d4f47b",
        "name": "Create Hls stream",
        "outputs": 2,
        "basePath": "demo",
        "serveHttp": "true",
        "serveIo": "false",
        "hlsPlaylistSize": "4",
        "hlsPlaylistExtra": "0",
        "bufferPool": "0",
        "autoStart": "false",
        "preBuffer": "1",
        "timeLimit": "60000",
        "repeated": "false",
        "statusData": "playlist",
        "x": 630,
        "y": 3960,
        "wires": [
            [
                "6f0d127ef9aa818a"
            ],
            []
        ]
    },
    {
        "id": "986813825060ab5e",
        "type": "ui-video",
        "z": "4aad778b57d4f47b",
        "name": "",
        "group": "1e2acdd1dfa22bf9",
        "width": 0,
        "height": 0,
        "order": 6,
        "url": "",
        "autoplay": "off",
        "controls": "show",
        "sound": "off",
        "unloadHiddenVideo": "on",
        "intersectionThreshold": "20",
        "readyPoster": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB2aWV3Qm94PSIwIDAgODAwMCA2MDAwIj48dGV4dCBmaWxsPSIjMGYwIiBzdHJva2Utd2lkdGg9IjAiIGR4PSIwIiBkeT0iMCIgZm9udC1mYW1pbHk9IiZxdW90O2UyY3B1d3p4YldsMTo6OlJvYm90byZxdW90OyIgZm9udC1zaXplPSI2MDAiIGZvbnQtd2VpZ2h0PSI3MDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKCAxMDExLjI0IDMyMDQuODgpIj48dHNwYW4geT0iMCIgc3Ryb2tlLXdpZHRoPSIwIiBmb250LXdlaWdodD0iNzAwIj48IVtDREFUQVsKVmlkZW8gUGxheWJhY2sgUmVhZHkKXV0+PC90c3Bhbj48L3RleHQ+PC9zdmc+Cg==",
        "errorPoster": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB2aWV3Qm94PSIwIDAgODAwMCA2MDAwIj48dGV4dCBmaWxsPSJyZWQiIHN0cm9rZS13aWR0aD0iMCIgZHg9IjAiIGR5PSIwIiBmb250LWZhbWlseT0iJnF1b3Q7ZW42OXdhSUtnN0MxOjo6Um9ib3RvJnF1b3Q7IiBmb250LXNpemU9IjYwMCIgZm9udC13ZWlnaHQ9IjcwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoIDExODMuOTYgMzIwNC44OCkiPjx0c3BhbiB5PSIwIiBzdHJva2Utd2lkdGg9IjAiIGZvbnQtd2VpZ2h0PSI3MDAiPjwhW0NEQVRBWwpWaWRlbyBQbGF5YmFjayBFcnJvcgpdXT48L3RzcGFuPjwvdGV4dD48L3N2Zz4K",
        "logType": "msg",
        "hlsLibrary": "native",
        "resizing": "none",
        "hlsConfig": "{\r\n    \"liveDurationInfinity\": true,\r\n    \"liveBackBufferLength\": 5,\r\n    \"maxBufferLength\": 10,\r\n    \"manifestLoadingTimeOut\": 1000,\r\n    \"manifestLoadingMaxRetry\": 10,\r\n    \"manifestLoadingRetryDelay\": 500\r\n}",
        "x": 1090,
        "y": 3960,
        "wires": [
            []
        ]
    },
    {
        "id": "87f63e15048fa252",
        "type": "inject",
        "z": "4aad778b57d4f47b",
        "name": "load hls playlist",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "load",
        "payloadType": "str",
        "x": 880,
        "y": 4020,
        "wires": [
            [
                "986813825060ab5e"
            ]
        ]
    },
    {
        "id": "6f0d127ef9aa818a",
        "type": "function",
        "z": "4aad778b57d4f47b",
        "name": "Update playlist url",
        "func": "const { status, payload } = msg\n\nif (status === 'playlist' || status === 'reset') {\n  const url = payload?.hlsPlaylist || \"\"\n  node.status({fill:\"blue\", shape: \"dot\", text: url})\n  return { ui_update: { url: url } }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 3960,
        "wires": [
            [
                "986813825060ab5e"
            ]
        ]
    },
    {
        "id": "1e2acdd1dfa22bf9",
        "type": "ui-group",
        "name": "Experiments",
        "page": "e06eacf47a88bb87",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e06eacf47a88bb87",
        "type": "ui-page",
        "name": "Alarm",
        "ui": "be29745a6e568f30",
        "path": "/page9",
        "icon": "lock",
        "layout": "grid",
        "theme": "a965ccfef139317a",
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "be29745a6e568f30",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-chart",
            "ui-text-input",
            "ui-dropdown"
        ],
        "showPathInSidebar": false,
        "titleBarStyle": "default"
    },
    {
        "id": "a965ccfef139317a",
        "type": "ui-theme",
        "name": "Default",
        "colors": {
            "surface": "#404040",
            "primary": "#109fbc",
            "bgPage": "#e8e8e8",
            "groupBg": "#d6d6d6",
            "groupOutline": "#6fbc10"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
